body, #viewerContainer {
  background-color: #121212 !important;
}

canvas {
  filter: invert(1) hue-rotate(180deg) !important;
}

img {
  filter: invert(1) hue-rotate(180deg) !important;
}

.toolbar, .toolbarButton, .secondaryToolbar {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
}

.page {
  background-color: #121212 !important;
}
